
body {
    background-color: #399;

}

.jumbotron {
    background-color: purple;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    width: 80%;
    padding: 50px;
    border-bottom: dashed;
    border-width: 6px;
    word-wrap: auto;
}

.contactMe {
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    color: black;
}

.textContainer {
    padding:14px;
    background-color: beige;
    border-color: navy;
    border-style: outset;
    border-radius: 30px;
    box-shadow: 3px 3px 2px orange;
}

.bioImage {
    border-radius: 30px;
    size: fill;
    border-color: navy;
    border-style: outset;
}

a.nav-link { 
    Font-family: 'Monoton', cursive;
    font-size: 36px;
    color: #39ff14;
}

a.nav-link:hover {
    color: #39ff14;
    text-shadow: 3px 3px 2px orange;
}

a.active {
    font-family: 'Monoton', cursive;
    font-size: 36px;
    color: #39ff14;
    text-shadow: 2px 2px 1px orange;
}

.nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.nav-item {
    display: inline-block;
    float:none;
}

h1{
    font-family: 'Poiret One', cursive;
    font-size: 35px;
    font-weight: 1000;
    color: whitesmoke;
    text-shadow: 2px 2px 1px black;
    text-align: center;
    word-wrap: justify;
}

h2{
    font-family: 'Poiret One', cursive;
    font-size: 26px;
    font-weight: 1000;
    color: black;
    text-align: center;
    word-wrap: justify;
    border-bottom: 2px solid currentColor;
}

h4{
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    font-weight: 800;
    color: black;
    text-align: center;
    word-wrap: justify;
}

p{
    font-family: 'Poiret One', cursive;
    font-size: 16px;
    font-weight: 600;
    color: black;
    word-wrap: justify;
}

.carousel-inner {
    border-radius: 30px;
}

.carousel {
}

.portfolioText {
    border-radius: 30px;
    background-color: #d3d3d3;
}

.contactMe {
    padding: 20px;
}

.btn-primary {
    background-color: #ff971a;
    border: none;
}

.btn-primary:hover {
    background-color: orangered;
}

.page-footer {
    position: sticky
}

.footer-copyright {
    font-family: 'Poiret One', cursive;
    font-size: 12px;
    font-weight: 600;
}

.footerLink {
    font-family: 'Poiret One', cursive;
    font-size: 12px;
    font-weight: 600;
    color: whitesmoke;
}

.portfolioLink {
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    font-weight: 1000;
    color: black;
    text-align: center;
    word-wrap: justify;
    border-bottom: 2px solid currentColor;
    padding-top: 12px;
}

.contactLink{
    font-family: 'Poiret One', cursive;
    color: darkgray;
}

@media screen and (max-width: 768px) {
    .carousel-inner {
        margin-bottom: 15px;
    }

    .bioImage {
        margin-bottom: 15px;
    }

    .container {
        width: 100%;
    }

    .textContainer{
        margin-bottom: 20px;
    }
}